h1 {
    font-family: monospace;
    color: #6f2232;
    font-size: 40px;;
}

body { 
    font-family: helvetica;
    background-color: #1A1A1D;
    color: white;
    text-align: center;
    font-size: 20px;;
}

.menu {
    list-style-type: none;
    background-color: #4E4E50;
    padding: 15px;
    overflow: hidden;
}

.menu a {
    font-size: 17px;
    float: left;
    color: white;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
  }

#foto-perfil {
    border-radius: 30px;;
}

h3 {
    font-size: 22px;
    color: #950740;
}

#skill-list {
    text-align: center;
}

.text {
    float: center;
    padding: 15px 250px;
    margin: px;
}

.skills {
    float: center;
    padding: 12px 18px;
    text-decoration: none;
}